name: Build Windows EXE
on: [workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Install dependencies
        run: flutter pub get

      - name: Generate Localization files
        run: flutter pub run intl_utils:generate

      - name: Build Windows
        run: flutter build windows --release

      - name: Upload Build
        uses: actions/upload-artifact@v4
        with:
          name: swiftcontrol-windows
          path: build/windows/x64/runner/Release/
